

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-base) var(--pad-lg);
    background-color: var(--bg-light);

    & h1{
        font-size: var(--fs-xl);
        font-weight: var(--fw-bold);
    }

    & .nav-list{
        display: flex;
        gap: var(--pad-base);
        
    }
}